
{% set PROJECT_NAME = env("PROJECT_NAME") %}

{
    "mapping": {
        "CBV [load]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_cbv_load_15T_24H/"
            }
        },
        "CBV_PV [prod]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_cbv_pv_prod_15T_24H/"
            }
        },
        "CBV [EV fleet]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_cbv_ev_fleet_15T_24H/"
            }
        },
        "MeryBois [load]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merybois_load_15T_24H/"
            }
        },
        "MeryBois [prod]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merybois_prod_15T_24H/"
            }
        },
        "MeryBois [EV fleet]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merybois_ev_fleet_15T_24H/"
            }
        },
        "MeryTherm [load]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merytherm_load_15T_24H/"
            }
        },
        "MeryTherm [prod]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merytherm_prod_15T_24H/"
            }
        },
        "MeryTherm_PV [prod]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merytherm_pv_prod_15T_24H/"
            }
        },
        "MeryTherm [EV fleet]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merytherm_ev_fleet_15T_24H/"
            }
        },
        "MeryWind [prod]": {
            "ACTIVE_POWER": {
                "freq": "00:15:00",
                "input_horizon": "120:00:00",
                "predictor_folderpath": "./{{ PROJECT_NAME }}/forecast/predictor/{{ PREDICTOR_DATE }}_merywind_prod_15T_24H/"
            }
        }
    }
}
