#!/bin/bash

{% set PROJECT_NAME = env("PROJECT_NAME") %}
{% set use_node1 = env("USE_NODE1") != 'no' %}
{% set use_node2 = env("USE_NODE2") != 'no' %}
{% set use_node3 = env("USE_NODE3") != 'no' %}

{% set PERIODS_SCALING_FACTOR = env("PERIODS_SCALING_FACTOR") | float %}
{% set PERIODS = (PERIODS * PERIODS_SCALING_FACTOR) | int %}
{% set PERIOD_DURATION = env("PERIOD_DURATION") | int %}
{% set PERIOD_DURATION_UNIT = env("PERIOD_DURATION_UNIT") | string %}

set -e

# === Export billing results ===
mkdir -p {{ PROJECT_NAME }}/exports/{{ DATA_FOLDERNAME }}/

{% if use_node1 %}
# REC
python -m uliege.microgrid export-billing \
    --microgrid ./{{ PROJECT_NAME }}/data/microgrid_billing.json \
    --realisation {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_simulation.dat \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
    --start_date '{{ START_DATE }}' \
    --periods {{ PERIODS }} \
    --period_duration {{ PERIOD_DURATION }} \
    --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
    --tzinfo 'Europe/Brussels' \
    --output {{ PROJECT_NAME }}/exports/{{ DATA_FOLDERNAME }}/out_microgrid_billing.xlsx \
    --output_format xlsx
{% endif %}

{% if use_node2 %}
# No REC
python -m uliege.microgrid export-billing \
    --microgrid ./{{ PROJECT_NAME }}/data/microgrid_no_REC_billing.json \
    --realisation {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_REC_simulation.dat \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
    --start_date '{{ START_DATE }}' \
    --periods {{ PERIODS }} \
    --period_duration {{ PERIOD_DURATION }} \
    --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
    --tzinfo 'Europe/Brussels' \
    --no_rec \
    --output {{ PROJECT_NAME }}/exports/{{ DATA_FOLDERNAME }}/out_microgrid_no_REC_billing.xlsx \
    --output_format xlsx
{% endif %}

{% if use_node3 %}
# REC (no battery)
python -m uliege.microgrid export-billing \
    --microgrid ./{{ PROJECT_NAME }}/data/microgrid_no_battery_billing.json \
    --realisation {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_battery_simulation.dat \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
    --start_date '{{ START_DATE }}' \
    --periods {{ PERIODS }} \
    --period_duration {{ PERIOD_DURATION }} \
    --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
    --tzinfo 'Europe/Brussels' \
    --output {{ PROJECT_NAME }}/exports/{{ DATA_FOLDERNAME }}/out_microgrid_no_battery_billing.xlsx \
    --output_format xlsx
{% endif %}
