#!/bin/bash

{% set PROJECT_NAME = env("PROJECT_NAME") %}
{% set use_node1 = env("USE_NODE1") != 'no' %}
{% set use_node2 = env("USE_NODE2") != 'no' %}
{% set use_node3 = env("USE_NODE3") != 'no' %}

{% set NODE1_FULLNAME = PROJECT_NAME + "." + NODE1_NAME %}
{% set NODE2_FULLNAME = PROJECT_NAME + "." + NODE2_NAME %}
{% set NODE3_FULLNAME = PROJECT_NAME + "." + NODE3_NAME %}

# === Retrieve results ===
mkdir -p {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/

{% if use_node1 %}
# REC
if [ "$(docker ps -a | grep {{ NODE1_FULLNAME }})" ]; then
    docker logs {{ NODE1_FULLNAME }} >& {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_simulation.log
    docker run \
        -d \
        --name {{ NODE1_FULLNAME }}.tmp \
        -v {{ NODE1_FULLNAME }}.tmp:/app/results \
        python:3.7 \
        sleep 1000

    docker cp \
        {{ NODE1_FULLNAME }}.tmp:/app/results/out_microgrid_simulation.dat \
        {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_simulation.dat

    docker container stop {{ NODE1_FULLNAME }}.tmp
    docker rm -f {{ NODE1_FULLNAME }}.tmp
fi
{% endif %}

{% if use_node2 %}
# No REC
if [ "$(docker ps -a | grep {{ NODE2_FULLNAME }})" ]; then
    docker logs {{ NODE2_FULLNAME }} >& {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_REC_simulation.log
    docker run \
        -d \
        --name {{ NODE2_FULLNAME }}.tmp \
        -v {{ NODE2_FULLNAME }}.tmp:/app/results \
        python:3.7 \
        sleep 1000

    docker cp \
        {{ NODE2_FULLNAME }}.tmp:/app/results/out_microgrid_no_REC_simulation.dat \
        {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_REC_simulation.dat

    docker container stop {{ NODE2_FULLNAME }}.tmp
    docker rm -f {{ NODE2_FULLNAME }}.tmp
fi
{% endif %}

{% if use_node3 %}
# REC (no battery)
if [ "$(docker ps -a | grep {{ NODE3_FULLNAME }})" ]; then
    docker logs {{ NODE3_FULLNAME }} >& {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_battery_simulation.log
    docker run \
        -d \
        --name {{ NODE3_FULLNAME }}.tmp \
        -v {{ NODE3_FULLNAME }}.tmp:/app/results \
        python:3.7 \
        sleep 1000

    docker cp \
        {{ NODE3_FULLNAME }}.tmp:/app/results/out_microgrid_no_battery_simulation.dat \
        {{ PROJECT_NAME }}/results/{{ DATA_FOLDERNAME }}/out_microgrid_no_battery_simulation.dat

    docker container stop {{ NODE3_FULLNAME }}.tmp
    docker rm -f {{ NODE3_FULLNAME }}.tmp
fi
{% endif %}
