
{% set PROJECT_NAME = env("PROJECT_NAME") %}
{% set PRETTY_PROJECT_NAME = (PROJECT_NAME[0] | upper) + PROJECT_NAME[1:] %}
{% set PRETTY_PROJECT_NAME = PRETTY_PROJECT_NAME | replace("grid", "Grid") %}
{% set MODE = env("MODE") %} {# SIMULATION or BILLING #}

{
    "name": "{{ PRETTY_PROJECT_NAME }}",
    "community": {
        "name": "{{ PRETTY_PROJECT_NAME }} Community",
        "manager": {
            "name": "ECM",
            "retailer_prices": {
                "import_peak_hours_price": 0.06265,
                "import_off_peak_hours_price": 0.04438,
                "renewable_energy_price": 0.03728,

                "transmission_fee": 0.05460120766605408244,
                "distribution_fee": 0.04960147020215279601,

                "federal_contribution_fee": 0.0028379,
                "connection_fee": 0.0006
            },
            {% if MODE == "BILLING" %}
            "community_prices": {
                "energy_price": {{ energy_price }},

                "ecm_fee": {{ ecm_fee }},
                "roi_fee": {{ roi_fee }},

                "transmission_fee": {{ transmission_fee.ecm }},
                "distribution_fee": {{ distribution_fee.ecm }}
            },
            {% elif MODE == "SIMULATION" %}
            "community_prices": {
                "energy_price": 0.0,

                "ecm_fee": 0.0,
                "roi_fee": 0.0,

                "transmission_fee": 0.0,
                "distribution_fee": 0.0
            },
            {% endif %}
            "history_peak_fee": 2.9655570,
            "month_peak_fee": 0.9885190,
            "reactive_fee": 0.01500,

            "node": {
                "name": "ECM Node",
                "non_steerable_generators": [
                {% if enable_ecm_wind_turbines %}
                    {
                        "name": "MeryWind [prod]",
                        "capacity": {{ ecm_wind_turbines_specs.capacity }}
                    }
                {% endif %}
                ],
                "storages": [
                {% if enable_ecm_battery and not disable_rec %}
                    {
                        "name": "ECM Battery",
                        "device_type": "linear",
                        "capacity": {{ ecm_battery_specs.capacity }},
                        "charge_efficiency": {{ ecm_battery_specs.charge_efficiency }},
                        "discharge_efficiency": {{ ecm_battery_specs.discharge_efficiency }},
                        "max_charge_rate": {{ ecm_battery_specs.max_charge_rate }},
                        "max_discharge_rate": {{ ecm_battery_specs.max_discharge_rate }},
                        "min_state_of_charge": {{ ecm_battery_specs.min_state_of_charge }},
                        "max_state_of_charge": {{ ecm_battery_specs.max_state_of_charge }},
                        "min_reserve_state_of_charge": {{ ecm_battery_specs.min_reserve_state_of_charge }},
                        "max_reserve_state_of_charge": {{ ecm_battery_specs.max_reserve_state_of_charge }},
                        "charge_price": 0.0,
                        "discharge_price": 0.000001,
                        
                        "state_of_charge": 0.5,
                        "active_charge_power": 0.0,
                        "setpoint_charge_power": 0.0
                    }
                {% endif %}
                ]
            },
            "grid_max_import": 0.0,
            "grid_max_export": 0.0,
            "max_import_peak": 0.0

            {% if disable_rec %}
            ,
            "community_max_import": 0.0,
            "community_max_export": 0.0
            {% endif %}
        },
        "members": [
            {% if not cbv.disable %}
            {
                "name": "CBV",
                "retailer_prices": {
                    "import_peak_hours_price": 0.06492,
                    "import_off_peak_hours_price": 0.04826,
                    "export_peak_hours_price": 0.04616,
                    "export_off_peak_hours_price": 0.0282,
                    "renewable_energy_price": 0.026096,

                    "transmission_fee": 0.0359186,
                    "distribution_fee": 0.0755947,

                    "federal_contribution_fee": 0.002815928,
                    "connection_fee": 0.0006
                },
                "community_prices": {
                    "energy_price": {{ energy_price }},

                    "ecm_fee": {{ ecm_fee }},
                    "roi_fee": {{ roi_fee }},

                    "transmission_fee": {{ transmission_fee.cbv }},
                    "distribution_fee": {{ distribution_fee.cbv }}
                },
                "history_peak_fee": 2.9655570,
                "month_peak_fee": 0.9885190,
                "reactive_fee": 0.01500,

                "node": {
                    "name": "CBV Node",
                    "non_flexible_loads": [
                        {
                            "name": "CBV [load]",
                            "capacity": 130.0
                        }
                        {% if cbv.use_static_evs %}
                        ,
                        {
                            "name": "CBV [EV fleet]",
                            "capacity": {{ cbv.n_evs * cbv.ev_capacity }}
                        }
                        {% endif %}
                    ],
                    "non_steerable_generators": [
                        {% if cbv.enable_pv %}
                        {
                            "name": "CBV_PV [prod]",
                            "capacity": {{ cbv.pv_capacity }}
                        }
                        {% endif %}
                    ],
                    "ev_fleet": [
                        {% if not cbv.use_static_evs %}
                        {% for i in range(1, cbv.n_evs + 1) %}

                        {% if i > 1 %}
                        ,
                        {% endif %}

                        {
                            "name": "CBV EV #{{ i }}",
                            "storage": {
                                "name": "CBV EV Storage #{{ i }}",
                                "device_type": "linear",
                                "capacity": {{ cbv.ev_capacity }},
                                "charge_efficiency": 0.9,
                                "max_charge_rate": 0.123333,

                                {% if cbv.enable_v2g %}
                                "discharge_efficiency": 0.9,
                                "max_discharge_rate": 0.123333,
                                {% else %}
                                "discharge_efficiency": 0.000001,
                                "max_discharge_rate": 0.0,
                                {% endif %}

                                "charge_price": 0.0,
                                "discharge_price": 0.0,
                                "state_of_charge": 0.2
                            }
                        }

                        {% endfor %}
                        {% endif %}
                    ]
                },
                "initial_import_peak": {{ cbv.expected_import_peak }},
                "max_import_peak": {{ cbv.expected_import_peak }},
                "initial_export_peak": {{ cbv.expected_export_peak }},
                "max_export_peak": {{ cbv.expected_export_peak }}

                {% if disable_rec %}
                ,
                "community_max_import": 0.0,
                "community_max_export": 0.0
                {% endif %}
            }
            {% endif %}


            {% if not merybois.disable %}
            {% if not cbv.disable %}
            ,
            {% endif %}

            {
                "name": "MeryBois",
                "retailer_prices": {
                    "import_peak_hours_price": 0.06265,
                    "import_off_peak_hours_price": 0.04438,
                    "export_peak_hours_price": 0.04616,
                    "export_off_peak_hours_price": 0.0282,
                    "renewable_energy_price": 0.03728,

                    "fix_term": 110.0,

                    "transmission_fee": 0.05460120766605408244,
                    "distribution_fee": 0.04960147020215279601,

                    "federal_contribution_fee": 0.0028379,
                    "connection_fee": 0.0006
                },
                "community_prices": {
                    "energy_price": {{ energy_price }},

                    "ecm_fee": {{ ecm_fee }},
                    "roi_fee": {{ roi_fee }},

                    "transmission_fee": {{ transmission_fee.merybois }},
                    "distribution_fee": {{ distribution_fee.merybois }}
                },
                "history_peak_fee": 2.9655570,
                "month_peak_fee": 0.9885190,
                "reactive_fee": 0.01500,

                "node": {
                    "name": "MeryBois Node",
                    "non_flexible_loads": [
                        {
                            "name": "MeryBois [load]",
                            "capacity": 70.0
                        }
                        {% if merybois.use_static_evs %}
                        ,
                        {
                            "name": "MeryBois [EV fleet]",
                            "capacity": {{ merybois.n_evs * merybois.ev_capacity }}
                        }
                        {% endif %}
                    ],
                    "non_steerable_generators": [
                        {% if merybois.enable_pv %}
                        {
                            "name": "MeryBois [prod]",
                            "capacity": {{ merybois.pv_capacity }}
                        }
                        {% endif %}
                    ],
                    "ev_fleet": [
                        {% if not merybois.use_static_evs %}
                        {% for i in range(1, merybois.n_evs + 1) %}

                        {% if i > 1 %}
                        ,
                        {% endif %}

                        {
                            "name": "MeryBois EV #{{ i }}",
                            "storage": {
                                "name": "MeryBois EV Storage #{{ i }}",
                                "device_type": "linear",
                                "capacity": {{ merybois.ev_capacity }},
                                "charge_efficiency": 0.9,
                                "max_charge_rate": 0.123333,

                                {% if merybois.enable_v2g %}
                                "discharge_efficiency": 0.9,
                                "max_discharge_rate": 0.123333,
                                {% else %}
                                "discharge_efficiency": 0.000001,
                                "max_discharge_rate": 0.0,
                                {% endif %}

                                "charge_price": 0.0,
                                "discharge_price": 0.0,
                                "state_of_charge": 0.2
                            }
                        }

                        {% endfor %}
                        {% endif %}
                    ]
                },
                "initial_import_peak": {{ merybois.expected_import_peak }},
                "max_import_peak": {{ merybois.expected_import_peak }},
                "initial_export_peak": {{ merybois.expected_export_peak }},
                "max_export_peak": {{ merybois.expected_export_peak }}

                {% if disable_rec %}
                ,
                "community_max_import": 0.0,
                "community_max_export": 0.0
                {% endif %}
            }
            {% endif %}


            {% if not merytherm.disable %}
            {% if not cbv.disable or not merybois.disable %}
            ,
            {% endif %}

            {
                "name": "MeryTherm",
                "retailer_prices": {
                    "import_peak_hours_price": 0.060399,
                    "import_off_peak_hours_price": 0.060399,
                    "export_peak_hours_price": 0.04616,
                    "export_off_peak_hours_price": 0.0282,
                    "renewable_energy_price": 0.03728,

                    "transmission_fee": 0.012999530956848,
                    "distribution_fee": 0.104277673545966,

                    "federal_contribution_fee": 0.0029996,
                    "connection_fee": 0.0006
                },
                "community_prices": {
                    "energy_price": {{ energy_price }},

                    "ecm_fee": {{ ecm_fee }},
                    "roi_fee": {{ roi_fee }},

                    "transmission_fee": {{ transmission_fee.merytherm }},
                    "distribution_fee": {{ distribution_fee.merytherm }}
                },
                "history_peak_fee": 2.9655570,
                "month_peak_fee": 0.9885190,
                "reactive_fee": 0.01500,

                "node": {
                    "name": "MeryTherm Node",
                    "non_flexible_loads": [
                        {
                            "name": "MeryTherm [load]",
                            "capacity": 350.0
                        }
                        {% if merytherm.use_static_evs %}
                        ,
                        {
                            "name": "MeryTherm [EV fleet]",
                            "capacity": {{ merytherm.n_evs * merytherm.ev_capacity }}
                        }
                        {% endif %}
                    ],
                    "non_steerable_generators": [
                        {% if merytherm.enable_pv %}
                        {
                            "name": "MeryTherm_PV [prod]",
                            "capacity": {{ merytherm.pv_capacity }}
                        }
                        {% endif %}
                        {% if merytherm.enable_pv and merytherm.enable_hydro %}
                        ,
                        {% endif %}
                        {% if merytherm.enable_hydro %}
                        {
                            "name": "MeryTherm [prod]",
                            "capacity": {{ merytherm.hydro_capacity }}
                        }
                        {% endif %}
                    ],
                    "ev_fleet": [
                        {% if not merytherm.use_static_evs %}
                        {% for i in range(1, merytherm.n_evs + 1) %}

                        {% if i > 1 %}
                        ,
                        {% endif %}

                        {
                            "name": "MeryTherm EV #{{ i }}",
                            "storage": {
                                "name": "MeryTherm EV Storage #{{ i }}",
                                "device_type": "linear",
                                "capacity": {{ merytherm.ev_capacity }},
                                "charge_efficiency": 0.9,
                                "max_charge_rate": 0.123333,

                                {% if merytherm.enable_v2g %}
                                "discharge_efficiency": 0.9,
                                "max_discharge_rate": 0.123333,
                                {% else %}
                                "discharge_efficiency": 0.000001,
                                "max_discharge_rate": 0.0,
                                {% endif %}

                                "charge_price": 0.0,
                                "discharge_price": 0.0,
                                "state_of_charge": 0.2
                            }
                        }

                        {% endfor %}
                        {% endif %}
                    ]
                },
                "initial_import_peak": {{ merytherm.expected_import_peak }},
                "max_import_peak": {{ merytherm.expected_import_peak }},
                "initial_export_peak": {{ merytherm.expected_export_peak }},
                "max_export_peak": {{ merytherm.expected_export_peak }}

                {% if disable_rec %}
                ,
                "community_max_import": 0.0,
                "community_max_export": 0.0
                {% endif %}
            }
            {% endif %}
        ]

        {% if disable_rec %}
        ,
        "max_import": 0.0,
        "max_export": 0.0
        {% endif %}
        
    },

    "import_peak_cost": {{ import_peak_cost }},
    "export_peak_cost": {{ export_peak_cost }}
}
