#!/bin/bash

{% set PROJECT_NAME = env("PROJECT_NAME") %}
{% set use_node1 = env("USE_NODE1") != 'no' %}
{% set use_node2 = env("USE_NODE2") != 'no' %}
{% set use_node3 = env("USE_NODE3") != 'no' %}

{% set PERIODS_SCALING_FACTOR = env("PERIODS_SCALING_FACTOR") | float %}
{% set PERIODS = (PERIODS * PERIODS_SCALING_FACTOR) | int %}
{% set PERIOD_DURATION = env("PERIOD_DURATION") | int %}
{% set PERIOD_DURATION_UNIT = env("PERIOD_DURATION_UNIT") | string %}
{% set CONTROL_HORIZON = (96 * PERIODS_SCALING_FACTOR) | int %}

{% set NODE1_FULLNAME = PROJECT_NAME + "." + NODE1_NAME %}
{% set NODE2_FULLNAME = PROJECT_NAME + "." + NODE2_NAME %}
{% set NODE3_FULLNAME = PROJECT_NAME + "." + NODE3_NAME %}


# === Simulations ====
{% if use_node1 %}
# REC
docker container stop {{ NODE1_FULLNAME }}
docker container rm {{ NODE1_FULLNAME }}
docker volume rm {{ NODE1_FULLNAME }}.tmp

docker run \
    -d \
    --name {{ NODE1_FULLNAME }} \
    -v {{ NODE1_FULLNAME }}.tmp:/app/results \
    microgrid-experiments \
    python -m uliege.microgrid simulate \
        --microgrid ./{{ PROJECT_NAME }}/data/microgrid.json \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
{%- if use_controller_microgrid_data_supplier %}
        --controller_microgrid_data_supplier ./{{ PROJECT_NAME }}/forecast/controller_microgrid_data_supplier-{{ PREDICTOR_DATE }}.json \
{%- endif %}
        --controller ./{{ PROJECT_NAME }}/controller/optim_forward_controller.json \
        --start_date '{{ START_DATE }}' \
        --periods {{ PERIODS }} \
        --period_duration {{ PERIOD_DURATION }} \
        --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
        --json_override \
        --control_horizon {{ CONTROL_HORIZON }} \
        --disable_progress_bar \
        --reduce_control_horizon_towards_end \
        --output results/out_microgrid_simulation.dat
{% endif %}

{% if use_node2 %}
# No REC
docker container stop {{ NODE2_FULLNAME }}
docker container rm {{ NODE2_FULLNAME }}
docker volume rm {{ NODE2_FULLNAME }}.tmp

docker run \
    -d \
    --name {{ NODE2_FULLNAME }} \
    -v {{ NODE2_FULLNAME }}.tmp:/app/results \
    microgrid-experiments \
    python -m uliege.microgrid simulate \
        --microgrid ./{{ PROJECT_NAME }}/data/microgrid_no_REC.json \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
{%- if use_controller_microgrid_data_supplier %}
        --controller_microgrid_data_supplier ./{{ PROJECT_NAME }}/forecast/controller_microgrid_data_supplier-{{ PREDICTOR_DATE }}.json \
{%- endif %}
        --controller ./{{ PROJECT_NAME }}/controller/optim_forward_controller.json \
        --start_date '{{ START_DATE }}' \
        --periods {{ PERIODS }} \
        --period_duration {{ PERIOD_DURATION }} \
        --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
        --json_override \
        --control_horizon {{ CONTROL_HORIZON }} \
        --disable_progress_bar \
        --reduce_control_horizon_towards_end \
        --output results/out_microgrid_no_REC_simulation.dat
{% endif %}

{% if use_node3 %}
# REC (no battery)
docker container stop {{ NODE3_FULLNAME }}
docker container rm {{ NODE3_FULLNAME }}
docker volume rm {{ NODE3_FULLNAME }}.tmp

docker run \
    -d \
    --name {{ NODE3_FULLNAME }} \
    -v {{ NODE3_FULLNAME }}.tmp:/app/results \
    microgrid-experiments \
    python -m uliege.microgrid simulate \
        --microgrid ./{{ PROJECT_NAME }}/data/microgrid_no_battery.json \
{%- if use_csv_meter_microgrid_data_supplier %}
        --csv_meter_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ CSV_DATA_FOLDERNAME }}/ \
{%- elif use_xlsx_microgrid_data_supplier %}
        --xlsx_microgrid_data_supplier ./{{ PROJECT_NAME }}/data/{{ DATA_FILENAME }} \
{%- endif %}
{%- if use_controller_microgrid_data_supplier %}
        --controller_microgrid_data_supplier ./{{ PROJECT_NAME }}/forecast/controller_microgrid_data_supplier-{{ PREDICTOR_DATE }}.json \
{%- endif %}
        --controller ./{{ PROJECT_NAME }}/controller/optim_forward_controller.json \
        --start_date '{{ START_DATE }}' \
        --periods {{ PERIODS }} \
        --period_duration {{ PERIOD_DURATION }} \
        --period_duration_unit {{ PERIOD_DURATION_UNIT }} \
        --json_override \
        --control_horizon {{ CONTROL_HORIZON }} \
        --disable_progress_bar \
        --reduce_control_horizon_towards_end \
        --output results/out_microgrid_no_battery_simulation.dat
{% endif %}
